<div>
    <table class="form.table">
        <tr>
            <td>
                Eesnimi:
            </td>
            <td>
                <input type="text" ng-model="vm.contact.name" id="name-input">
            </td>
        </tr>
        <tr>
            <td>
                Telefon:
            </td>
            <td>
                <input ng-model="vm.contact.phone" id="phone-input">
            </td>
        </tr>
        <tr>
            <td>
                <button ng-click="vm.changeContact()" id="save-link">Salvesta</button>
            </td>
        </tr>
    </table>
</div>