<div>
    <input ng-model="vm.contactName" id="name-input"><br>
    <input ng-model="vm.contactPhone" id="phone-input"><br>
    <button ng-click="vm.addNew()" id="save-link">Add new contact</button>
</div>