<p>
    <input ng-model="query" autofocus id="search-string">
</p>

<table class="list-table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
    </tr>
    <div >
        <tr ng-repeat="contact in vm.contacts | filter : query" ng-class="{selected : checked}" >
            <td>
                <a href="#/edit/{{contact._id}}" class="edit-link">{{contact.name}}</a>
            </td>
            <td>
                {{contact.phone}}
            </td>
            <td>
                <a href ng-click="vm.removeContact(contact._id)" class="delete-link">Kustuta</a>
            </td>
            <td>
                <input type="checkbox" ng-model="checked">
            </td>
        </tr>
    </div>
</table>