<table class="list-table">
    <tr>
        <td>
            Name:
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="contactName" id="name-input">
        </td>
    </tr>
    <tr>
        <td>
            Phone:
        </td>
    </tr>
    <tr>
        <td>
            <input [(ngModel)]="contactPhone" id="phone-input"><br>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="addNew()" id="save-link">Add new contact</button>
        </td>
    </tr>
</table>