<div>
    <table class="form.table">
        <tr>
            <td>
                Eesnimi:
            </td>
            <td>
                <input type="text" [(ngModel)]="tempContactName" id="name-input">
            </td>
        </tr>
        <tr>
            <td>
                Telefon:
            </td>
            <td>
                <input [(ngModel)]="tempContactPhone" id="phone-input">
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="editContact()" id="save-link">Salvesta</button>
            </td>
        </tr>
    </table>
</div>