<p>
    <input name="query" [(ngModel)]="query" autofocus id="search-string">
</p>

<table class="list-table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    <tr *ngFor="let contact of contacts | filter : query " [class]="contact.checked ? 'selected' : ''">
        <td>
            <a routerLink="/edit/{{contact._id}}" href class="edit-link">{{contact.name}}</a>
        </td>
        <td>
            {{contact.phone}}
        </td>
        <td>
            <a href (click)="removeContact(contact._id)" class="delete-link">Kustuta</a>
        </td>
        <td>
            <input type="checkbox" [(ngModel)]="contact.checked">
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a href (click)="removeSelectedContacts()" id="delete-all-link">Kustuta märgistatud</a>
        </td>
    </tr>
</table>